@charset "utf-8";
/*   会员登录         */
.login_member{
	background:#b9bfc1;
}
.login_member img{
	margin:0 auto;
	padding:10px 0;
}
.form-control{
	padding:20px 8px;
}

.login_form p{
	padding:10px 0;
}
.login_form p span a{
	color:#ff9900;
}
.login_form{
	padding:0 10px;
}
.form-group{
	margin:15px 0;
}
.login_form ul{
	margin:10px 0;
}
.login_form .list-group-item{
	padding:8px 0;
	border:none;
}





















