/* CSS Document */

.lvspan0{ display:inline-block; height:20px; width:60px; background:url(/image/lvimg/lv0.gif) no-repeat}
.lvspan1{ display:inline-block; height:20px; width:60px; background:url(/image/lvimg/lv1.gif) no-repeat}
.lvspan2{ display:inline-block; height:20px; width:60px; background:url(/image/lvimg/lv2.gif) no-repeat}
.lvspan3{ display:inline-block; height:20px; width:60px; background:url(/image/lvimg/lv3.gif) no-repeat}
.lvspan4{ display:inline-block; height:20px; width:60px; background:url(/image/lvimg/lv4.gif) no-repeat}
.lvspan5{ display:inline-block; height:20px; width:60px; background:url(/image/lvimg/lv5.gif) no-repeat}
.lvspan6{ display:inline-block; height:20px; width:60px; background:url(/image/lvimg/lv6.gif) no-repeat}
.lvspan7{ display:inline-block; height:20px; width:60px; background:url(/image/lvimg/lv7.gif) no-repeat}
.lvspan8{ display:inline-block; height:20px; width:60px; background:url(/image/lvimg/lv8.gif) no-repeat}
.lvspan9{ display:inline-block; height:20px; width:60px; background:url(/image/lvimg/lv9.gif) no-repeat}
.lvspan10{ display:inline-block; height:20px; width:60px; background:url(/image/lvimg/lv10.gif) no-repeat}







